<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        {% block css %} {% endblock %}
        {% block preScripts %} {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.Default.css">
        <script src="https://code.highcharts.com/highcharts.js"></script>

    </head>
    <body class="page">
        <div class="navbar">
            <a style="text-decoration: none" href="{{ url_for('inicio') }}"><h1>Página Principal</h1></a>
            <a class="navbar-page" href="{{ url_for('agregar_donacion') }}">Agregar Donación</a>
            <a class="navbar-page" href="{{ url_for('agregar_pedido') }}">Agregar Pedido</a>
            <a class="navbar-page" href="{{ url_for('ver_donaciones') }}">Ver Donaciones</a>
            <a class="navbar-page" href="{{ url_for('ver_pedidos') }}">Ver Pedidos</a>
            <a class="navbar-page" href="{{ url_for('ver_graficos') }}">Ver Gráficos</a> 
        </div>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
        {% block scripts %} {% endblock %}
    </body>
</html>